# This is a template for a .env file configuration.

# Use these variables to create your `.env` file for running this software


PIN_ENV=(local|cloud)
CACHE_SOURCE=(ram|disk)

# example: PIN_ENV=local

LITS_CT_ROOT=/path/to/lits/dataset

CHECKPOINT_DIR=/path/where/to/save/checkpoints

# To store global and per-case CT statistics
STATS_DIR=/path/to/save/stats

# To store the split file structure
SPLIT_DIR=/path/to/save/splits

# This is optional but recommended
PERSISTENT_DATASET_DIR=/path/where/monai/persistent/dataset/cache/will/be/saved
LOG_DIR=/path/where/to/save/logs
LOG_LEVEL_CONSOLE=(DEBUG|INFO|WARNING|ERROR|CRITICAL)
LOG_LEVEL_FILE=(DEBUG|INFO|WARNING|ERROR|CRITICAL)

# (Optional) Email Notifications
ENABLE_EMAIL_NOTIFICATIONS=true
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
EMAIL_SENDER=your.email@gmail.com
EMAIL_PASSWORD=your_16_digit_app_password
EMAIL_RECIPIENT=recipient@email.com
