# This is a template for a .env file configuration.

# Use these variables to create your `.env` file for running this software


ENV=(local|cloud)

# example: ENV=local

LITS_CT_ROOT=/path/to/lits/dataset

CHECKPOINT_DIR=/path/where/to/save/checkpoints

# This is optional but recommended
LOG_DIR=/path/where/to/save/logs
LOG_LEVEL_CONSOLE=(DEBUG|INFO|WARNING|ERROR|CRITICAL)
LOG_LEVEL_FILE=(DEBUG|INFO|WARNING|ERROR|CRITICAL)