# This is a template for a .env file configuration.

# Use these variables to create your `.env` file for running this software


ENV=(local|cloud)

# example: ENV=local

LITS_CT_ROOT=/path/to/lits/dataset

CHECKPOINT_DIR=/path/where/to/save/checkpoints
